h2,
h3 {
  color: white;
}

a {
  cursor: pointer;
}

#mainNav ul {
  margin-left: auto !important;
  margin-right: 0 !important;
}

li {
  margin-right: 10px;
}

#google{
  padding-top: 17px;
}

@media only screen and (max-width: 700px) {
  #google{
    padding-top: 0;
  }
}